@import './mixins.scss';

.home-section{
    width: 100%;
    @include md(){
        width: 90%;
    }
    @include lg(){
        width: 80%;
    }    
    margin: 0 auto;
    flex: 1;
    overflow: hidden;
    height: 100%;
    .actions{
        text-align: right;
        padding: 10px 0;
    }
    .metrics-wrapper{
        height: 90%;
        overflow: auto;
        .hidden{
            display: none;
        }
        .block{
            height: 90%;
        }
        canvas{
            height: 100% !important;
        }
    }
}

.full-page-loader{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000029;
}