// Break Point Sizes
// Landscape horizontal
$xl-l-w-BP: 1600px;
$lg-l-w-BP: 1199px;
$md-l-w-BP: 768px;
$sm-l-w-BP: 425px;
$xl-l-h-BP: 1500px;
$lg-l-h-BP: 1199px;
$md-l-h-BP: 768px;
$sm-l-h-BP: 550px;
// Defines compatibility for specific props and every browser
@mixin comp($prop, $value) {
    $browsers: 'webkit', 'moz', 'ms';
    @each $browser in $browsers {
        -#{$browser}-#{$prop}: $value;
    }
    #{ $prop }: $value;
}

// Defines a flex layout with every property setteable
@mixin flex($f: row, $w: nowrap, $ai: stretch, $jc: stretch) {
    @include comp(display, flex);
    flex-flow: $f $w;
    align-items: $ai;
    justify-content: $jc;
}

// Defines a common transition and duration for all of the props passed to the mixin
@mixin transition($props: all, $dur: .3s) {
    // Initiating $transitions variable
    $transitions: '';
    // looping through the props sent
    @each $prop in $props {
        @if($transitions=='') {
            $transitions: $prop $dur;
        }
        @else {
            // Appending all the props passed
            $transitions: append($transitions, unquote('#{ $prop } #{ $dur }'), 'comma');
        }
    }
    // Assigning final value
    transition: $transitions;
}

@mixin xl($orientation: landscape) {
    $bp: $xl-l-w-BP;
    @if $orientation==portrait {
        $bp: $xl-l-h-BP;
    }
    @media screen and (min-width: $bp)/* and (orientation: $orientation) */
    {
        @content;
    }
}

// Displays larger than 1250px will be affected
@mixin lg($orientation: landscape) {
    $bp: $lg-l-w-BP;
    @if $orientation==portrait {
        $bp: $lg-l-h-BP;
    }
    @media screen and (min-width: $bp)/* and (orientation: $orientation) */
    {
        @content;
    }
}

@mixin md($orientation: landscape) {
    $bp: $md-l-w-BP;
    @if $orientation==portrait {
        $bp: $md-l-h-BP;
    }
    @media screen and (min-width: $bp)/* and (orientation: $orientation) */
    {
        @content;
    }
}

@mixin sm($orientation: landscape) {
    $bp: $sm-l-w-BP;
    @if $orientation==portrait {
        $bp: $sm-l-h-BP;
    }
    @media screen and (min-width: $bp)/* and (orientation: $orientation) */
    {
        @content;
    }
}

@mixin size($size: 1024px, $orientation: landscape) {
  $bp: $size;
  @if $orientation==portrait {
      $bp: $size;
  }
  @media screen and (min-width: $bp)/* and (orientation: $orientation) */
  {
      @content;
  }
}