.App {
  text-align: center;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .main{
    flex: 1;
    position: relative;
    overflow: hidden;
  }
  .nav{
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    h1{
        color: white;
    }
  }
  footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    color: white;
    height: 5rem;
  }
}

